@font-face {
    font-family:"OldLondon";
    src:url("OldLondon/OldLondon.ttf");   
}

body {
    background-color: black;
    color: #ffffff;
    font-family: 'Sedan', Arial, sans-serif;
    background-image: url(imagens/castle.png_large);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    
}

header {
    background-color: #1E201E;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}   

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #945f57;
}

main {
    padding: 20px;
}

.rodape {
        background-color: #1E201E;
        color: #ffffff;
        font-family: "Sedan";
        text-align: center;
        padding: 5px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        margin: 0;
}

h1 {
    font-family:"OldLondon";
    color: #703f59;
    text-shadow: 2px 2px 5px #ffffff;
    text-align: center;
    font-size: 585%;
    
}

h2 {
    font-family:"OldLondon";
    color: #4a427a;
    text-shadow: 2px 2px 5px #ffffff;
    text-align: center;
    font-size: 40px;

}

h3 {
    font-family:"OldLondon";
    color: #91463a;
    text-shadow: 2px 2px 5px #ffffff;
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 120%;
    text-shadow: 2px 2px 5px black;
}


.historia {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}


.feature {
    margin-bottom: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding: auto;
    grid-gap: auto;
    ;
}

.feature img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 80px;
    height: auto;
    margin-bottom: 10px
}

.feature div {
    margin-top: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    margin-top: 5px;
    place-items: center;
}

.gallery img {
    width: 90%;
    height: auto;
}

.link {
    font-size: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 0 10px;
}

.btn img {
    width: 55px; 
    height: auto;
}

.btn:last-child {
    margin-right: 0;
}

.iframe-container {
    display: block;
    text-align: center;
    align-items: center;
    height: 100vh;
}

iframe {
    width: 800px;
    height: 600px; 
    border: none; 
    align-items: center;
    justify-content: center;
    display: block;
}

@media only screen and (max-width: auto) {
    body {
        background-size: contain;
        
    }

}